
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:wght@100&family=Shadows+Into+Light&display=swap');*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand img {
    border-radius: 50%;
    height: 100px;
    margin-left: 10%;
}
nav#navigation ul li a {
    color: black;
}
span#no {
    color: black;
}

.contact {
    display: flex;
    justify-content: space-around;
}




/* contact form styles */

.my-contact {
    background-image: url("../IMG/landing3.jpg");
    background-size: 100% 100%;
    margin-top: 20%;
    color: white;
}

.col-md-6 , .col-sm-6 , .col-md-12 , .col-sm-12{
    margin-bottom: 2%;
}