
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:wght@100&family=Shadows+Into+Light&display=swap');*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand img {
    border-radius: 50%;
    height: 100px;
    margin-left: 10%;
}
nav#navigation ul li a {
    color: black;
}
span#no {
    color: black;
}

.contact {
    display: flex;
    justify-content: space-around;
}

/* header section */

input.btn {
    color: white;
}
.main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    background-color: black;
    margin-bottom: 5%;

}
.card {
    width: 45%;
    text-align: center;
    margin-top: 5%;
    border: none;
    background-color: rgba(255, 255, 255, 0.705);
    height: auto;
    margin-bottom: 5%;
}
.card strong {
    color: rgb(194, 49, 49);
    font-size: 36px;
    margin-top: 9%;
}
.img-fluid {
    height: 300px;
    margin-top: 5%;
}


/* contact form styles */

.my-contact {
    background-image: url("../images/landing3.jpg");
    background-size: 100% 100%;
    margin-top: 10%;
    color: white;
}

.col-md-6 , .col-sm-6 , .col-md-12 , .col-sm-12{
    margin-bottom: 2%;
}